<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>Blög</title>
		<link rel="shortcut icon" type="image/x-icon" href="sources/favicon_flower.png" />
		<link rel="stylesheet" href="sources/reset.css">
		<link rel="stylesheet" href="sources/style.css">
		<script src="sources/jquery.js"></script>
		<script src="sources/script.js"></script>
	</head>

	<body>
		<?php require('app/header.php'); ?>
		<?php require('app/menu.php'); ?>
		<?php require('app/content.php'); ?>
		<?php require('app/footer.php'); ?>
	</body>

</html>